<div class="questions">
    <header class="page-header questions-header">
        <button class="button_exit button button_text">Выход</button>
        <div class="questions-header__title"></div>
        <div class="questions-header__information">
            <button class="button_cancel-answers button button_text">Сбросить все ответы</button>
            <span class="space">|</span>
            <div class="questions-header__progress">
                <p class="questions-header__progress_answered">0</p>/<p class="questions-header__progress_total"></p>
            </div>
            <span class="space">|</span>
            <p class="questions-header__time">00:10:00</p>
        </div>
    </header>
    <section class="questions-content scrollable"></section>
    <div class="bottom-buttons">
        <button id="complete-test-button" class="button button_primary">Завершить тест</button>
    </div>
</div>