.navbar {
  width: $navbar-collapsed-width;
  height: 100vh;
  background-color: $navbar-color;
  transition: width 0.3s;
  position: relative;

  &.collapsed  {
    width: $navbar-width;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-height;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $line-color;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: absolute;
    top: 10px;
    left: 15px;
    background: none;
    border: none;
    font-size: 20px;
    color: $menu-icon-color;
    cursor: pointer;
    transition: transform 0.3s;

    i {
      transition: transform 0.3s;
    }
  }

  &__content {
    width: 100%;
    padding: 10px;

    opacity: 0;
    transition: opacity 0.1s;

    .test-list {
      list-style-type: none;
      padding: 0;

      &__item {
        margin: 10px 0;
        padding: 0 2px;
        cursor: pointer;

        &.active {
          background-color: $primary-color;
          color: $white;
          border-radius: 2px;
        }

        &:before {
          content: '• ';
          color: currentColor;

        }
      }
    }
  }

  &.collapsed .navbar__content {
    opacity: 1;
    transition-delay: 0.2s;
    transition: opacity 0.3s;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: $header-height;
    flex-direction: row;
    justify-content: space-between;

    &.collapsed {
      transform: translateY(-100%);
    }

    .navbar__content {
      flex-direction: column;
      position: absolute;
      top: $header-height;
      left: 0;
      width: 100%;
      height: calc(100vh - $header-height);
      background-color: $navbar-color;
      display: none;
      align-items: center;

      .test-list {
        margin-top: 20px;
        width: 100%;
      }

      &.visible {
        display: flex;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}

