$primary-color: #D32F2F;
$secondary-color: #128BE3;

$sidebar-color: #ECEFF1;
$background-color: #F5F5F5;
$primary-text-color: #34515E;

$gray80: #F0F0F0;
$gray60: #EFEFEF;
$gray25: #8D8D8D;
$gray20: #999999;

$black-light: #353535;
$green: #06C270;
$orange: #FF8800;
$white: #FFFFFF;

$line-color: #CFD8DC;

$font-family: 'Nunito', Arial, sans-serif;
$font-family-alt: 'Rubik', Arial, sans-serif;

$header-height: 50px;